body {background-color: #ffffff; color: #000000; white-space: normal;}
body, td, th, h1, h2 {font-family: sans-serif;}
a:link {color: blue; text-decoration: none;}
a:visited { color: #003300; text-decoration: none;}
a:hover {text-decoration: underline;}
table {border-collapse: collapse; width: 600px; max-width: 600px; margin-left: auto; margin-right: auto; border: 0px; padding: 0px;}
td, th { border: 1px solid #000000; font-size: 75%; vertical-align: baseline;}
h1 {font-size: 150%; text-align: center;}
h2 {font-size: 125%; text-align: center;}
h2 a:hover {text-decoration: none;}
.p {text-align: left;}
.e {background-color: blue; font-weight: bold; color: #FFFFFF; width: 100px; vertical-align: top;}
.e a:link { color: #FFFFFF; }
.e a:visited { color: #FFFFFF; }
.h, .hc {background-color: lightblue; font-weight: bold;}
.hc {text-align: center;}
.v {background-color: #CCFFFF;}
img {float: right; border: 0px;}
p.error {font-size:12px; font-weight: bold; color:red; text-align: center;}

table.d td { border: 0; }
td.f {background-color: blue; font-weight: bold; color: #FFFFFF; }

/* alternative configuration files render : see request #13741 */
dl { margin: 0 }

dd.cfg_found { color: blue; }
dd.cfg_notfound { color: navy; font-weight: bold; }

dd.cfg_found:before { content: "OK => "; }
dd.cfg_notfound:before { content: "NA => "; }

